/ZJHKaiJiang/simulator
/ZJHKaiJiang/build
/ZJHKaiJiang/updateServer
/ZJHKaiJiang/frameworks/runtime-src/proj.android/build
/ZJHKaiJiang/frameworks/runtime-src/proj.android/assets
/ZJHKaiJiang/frameworks/runtime-src/proj.android/obj
/ZJHKaiJiang/frameworks/runtime-src/proj.android/libs/armeabi
/ZJHKaiJiang/frameworks/runtime-src/proj.android/libs/armeabi-v7a
/ZJHKaiJiang/frameworks/runtime-src/proj.android/libs/x86
/ZJHKaiJiang/frameworks/runtime-src/proj.android-studio/build
/ZJHKaiJiang/frameworks/runtime-src/proj.android-studio/app/assets
/ZJHKaiJiang/frameworks/runtime-src/proj.android-studio/app/obj
/ZJHKaiJiang/frameworks/runtime-src/proj.android-studio/app/build
/ZJHKaiJiang/frameworks/runtime-src/proj.android-studio/app/jniLibs
/ZJHKaiJiang/frameworks/runtime-src/proj.android-studio/app/libs/armeabi
/ZJHKaiJiang/frameworks/runtime-src/proj.android-studio/app/libs/armeabi-v7a
/ZJHKaiJiang/frameworks/runtime-src/proj.android-studio/app/libs/x86
/ZJHKaiJiang/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build
/ZJHKaiJiang/frameworks/runtime-src/proj.ios_mac/build
/ZJHKaiJiang/frameworks/cocos2d-x/build/build
/ZJHKaiJiang/frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/build

/ZJHKaiJiang/frameworks/cocos2d-x/build/cocos2d_libs.xcodeproj/xcuserdata/Berwin.xcuserdatad
/ZJHKaiJiang/frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.ios_mac/cocos2d_js_bindings.xcodeproj/ZJHKaiJiang/xcuserdata/Berwin.xcuserdatad
/ZJHKaiJiang/frameworks/runtime-src/proj.ios_mac/ZJHKaiJiang.xcodeproj/project.xcworkspace/xcuserdata/Berwin.xcuserdatad
/ZJHKaiJiang/frameworks/runtime-src/proj.ios_mac/ZJHKaiJiang.xcodeproj/xcuserdata/Berwin.xcuserdatad

/ZJHKaiJiang/.idea/workspace.xml