<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/hall/reward_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,842},{44,41}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,42}</string>
			</dict>
			<key>images/hall/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,444},{169,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,88}</string>
			</dict>
			<key>images/hall/board_bottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{640,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,136}</string>
			</dict>
			<key>images/hall/board_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,2},{533,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{533,136}</string>
			</dict>
			<key>images/hall/btn_quickstart.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,354},{355,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{355,139}</string>
			</dict>
			<key>images/hall/btn_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,901},{73,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,82}</string>
			</dict>
			<key>images/hall/icon_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,907},{76,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,88}</string>
			</dict>
			<key>images/hall/icon_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,713},{70,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,88}</string>
			</dict>
			<key>images/hall/icon_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,889},{75,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,103}</string>
			</dict>
			<key>images/hall/icon_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,713},{110,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,145}</string>
			</dict>
			<key>images/hall/icon_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,807},{74,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,90}</string>
			</dict>
			<key>images/hall/icon_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,713},{76,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,90}</string>
			</dict>
			<key>images/hall/textbox-user.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,983},{238,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,32}</string>
			</dict>
			<key>images/hall/indicator_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,817},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>images/hall/indicator_round1.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,842},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>images/hall/indicator_round2.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,842},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>images/hall/btn_recharge_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,878},{86,97}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,101}</string>
			</dict>
			<key>images/hall/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,713},{76,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,90}</string>
			</dict>
			<key>images/hall/text_bzc.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,617},{221,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,59}</string>
			</dict>
			<key>images/hall/text_qwc.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,827},{223,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,58}</string>
			</dict>
			<key>images/hall/btn_gift1.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,2},{63,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,217}</string>
			</dict>
			<key>images/hall/btn_gift2.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,223},{63,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,217}</string>
			</dict>
			<key>images/hall/light_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,842},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>images/hall/bg_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,617},{84,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,29}</string>
			</dict>
			<key>images/hall/arrow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,889},{63,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,119}</string>
			</dict>
			<key>images/hall/round1.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,956},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>images/hall/round2.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,978},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>images/hall/exchange_code.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,889},{110,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,85}</string>
			</dict>
			<key>images/hall/share_wx.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,907},{76,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,90}</string>
			</dict>
			<key>images/hall/share_wx_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,968},{100,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,45}</string>
			</dict>
			<key>images/hall/share_wx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,713},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>images/hall/share_wx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,713},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>images/hall/btn_expand.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,805},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>images/hall/btn_hide.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,713},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>images/hall/btn_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,2},{348,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{348,167}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall.png</string>
			<key>realTextureFileName</key>
			<string>hall.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>