<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>studio/room/images/cards/game_compare_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,171},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>studio/room/images/cards/game_dacaohua.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,150},{50,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,58}</string>
			</dict>
			<key>studio/room/images/cards/game_dafangpian.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,150},{46,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,58}</string>
			</dict>
			<key>studio/room/images/cards/game_daheitao.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,150},{52,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,58}</string>
			</dict>
			<key>studio/room/images/cards/game_dahongtao.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,150},{52,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>
			<key>studio/room/images/cards/game_huaseheij.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,2},{65,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,88}</string>
			</dict>
			<key>studio/room/images/cards/game_huaseheik.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,71},{65,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,88}</string>
			</dict>
			<key>studio/room/images/cards/game_huaseheiq.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,81},{65,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,88}</string>
			</dict>
			<key>studio/room/images/cards/game_huasehongj.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,81},{65,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,88}</string>
			</dict>
			<key>studio/room/images/cards/game_huasehongk.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,81},{65,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,88}</string>
			</dict>
			<key>studio/room/images/cards/game_huasehongq.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,81},{65,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,88}</string>
			</dict>
			<key>studio/room/images/cards/game_poker11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{75,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,99}</string>
			</dict>
			<key>studio/room/images/cards/game_poker12.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,140},{58,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,99}</string>
			</dict>
			<key>studio/room/images/cards/game_poker13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,150},{54,97}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,99}</string>
			</dict>
			<key>studio/room/images/cards/game_poker14.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,2},{75,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,99}</string>
			</dict>
			<key>studio/room/images/cards/game_poker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,2},{75,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,99}</string>
			</dict>
			<key>studio/room/images/cards/game_poker3.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,2},{75,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,99}</string>
			</dict>
			<key>studio/room/images/cards/game_xiaocaohua.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,152},{18,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,21}</string>
			</dict>
			<key>studio/room/images/cards/game_xiaofangpian.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,171},{17,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,21}</string>
			</dict>
			<key>studio/room/images/cards/game_xiaoheitao.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,171},{18,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,21}</string>
			</dict>
			<key>studio/room/images/cards/game_xiaohongtao.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,174},{18,18}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,19}</string>
			</dict>
			<key>studio/room/images/cards/poker_b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,206},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,129},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,229},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,200},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,273},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,283},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,200},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,227},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_ba.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,238},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_bj.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,236},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,249},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,294},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,81},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,251},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r3.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,204},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r4.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,204},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r5.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,223},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,295},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r7.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,150},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r8.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,206},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r9.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,251},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_ra.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,251},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_rj.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,270},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_rk.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,273},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_rq.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,150},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_rt.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,105},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{504,314}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>504</integer>
			<key>height</key>
			<integer>314</integer>
		</dict>
	</dict>
</plist>