<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>studio/room/images/cards/game_compare_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,188},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>studio/room/images/cards/game_dacaohua.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,460},{50,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,58}</string>
			</dict>
			<key>studio/room/images/cards/game_dafangpian.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,138},{46,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,58}</string>
			</dict>
			<key>studio/room/images/cards/game_daheitao.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,274},{52,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,58}</string>
			</dict>
			<key>studio/room/images/cards/game_dahongtao.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,460},{52,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>
			<key>studio/room/images/cards/game_huaseheij.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,308},{72,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,98}</string>
			</dict>
			<key>studio/room/images/cards/game_huaseheik.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,414},{72,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,98}</string>
			</dict>
			<key>studio/room/images/cards/game_huaseheiq.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,2},{72,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,98}</string>
			</dict>
			<key>studio/room/images/cards/game_huasehongj.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,409},{72,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,98}</string>
			</dict>
			<key>studio/room/images/cards/game_huasehongk.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,104},{72,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,98}</string>
			</dict>
			<key>studio/room/images/cards/game_huasehongq.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,206},{72,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,98}</string>
			</dict>
			<key>studio/room/images/cards/game_poker11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{75,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,99}</string>
			</dict>
			<key>studio/room/images/cards/game_poker12.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,2},{58,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,99}</string>
			</dict>
			<key>studio/room/images/cards/game_poker13.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,103},{54,97}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,99}</string>
			</dict>
			<key>studio/room/images/cards/game_poker14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,105},{75,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,99}</string>
			</dict>
			<key>studio/room/images/cards/game_poker2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,208},{75,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,99}</string>
			</dict>
			<key>studio/room/images/cards/game_poker3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,311},{75,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,99}</string>
			</dict>
			<key>studio/room/images/cards/game_xiaocaohua.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,170},{18,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,21}</string>
			</dict>
			<key>studio/room/images/cards/game_xiaofangpian.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,163},{17,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,21}</string>
			</dict>
			<key>studio/room/images/cards/game_xiaoheitao.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,138},{18,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,21}</string>
			</dict>
			<key>studio/room/images/cards/game_xiaohongtao.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,138},{18,18}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,19}</string>
			</dict>
			<key>studio/room/images/cards/poker_b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,171},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,490},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,171},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,490},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,170},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,170},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,485},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,171},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_ba.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,70},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_bj.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,70},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,70},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_bq.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,170},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,490},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_c1_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,204},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c10_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,272},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c11_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,340},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c12_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,408},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c13_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,204},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,103},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c3_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,2},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c4_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,2},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c5_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,102},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c6_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,272},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c7_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,340},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c8_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,408},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_c9_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,203},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d1_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,70},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d10_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,2},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d11_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,271},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d12_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,339},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d13_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,407},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,202},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d3_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,70},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d4_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,2},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d5_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,270},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d6_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,338},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d7_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,406},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d8_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,188},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_d9_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,70},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h1_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,2},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h10_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,256},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h11_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,324},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h12_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,392},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h13_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,188},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,256},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h3_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,324},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h4_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,392},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h5_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,138},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h6_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,70},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h7_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,2},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h8_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,206},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_h9_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,274},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_r2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,70},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r3.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,485},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r4.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,485},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r5.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,476},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r6.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,138},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r7.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,475},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r8.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,476},{19,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_r9.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,70},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_ra.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,476},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_rj.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,476},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_rk.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,476},{18,28}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_rq.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,475},{17,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_rt.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,490},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>studio/room/images/cards/poker_s1_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,342},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s10_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,410},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s11_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,138},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s12_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,70},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s13_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,2},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,206},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s3_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,274},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s4_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,342},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s5_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,410},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s6_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,138},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s7_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,70},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s8_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
			<key>studio/room/images/cards/poker_s9_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,206},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{673,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>673</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>