<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_compare_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,624},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>game_dacaohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,382},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>game_dafangpian.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,210},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>game_daheitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,360},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>game_dahongtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,420},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>game_huaseheij.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,79},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>game_huaseheik.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,79},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>game_huaseheiq.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,79},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>game_huasehongj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>game_huasehongk.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,76},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>game_huasehongq.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>game_poker11.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>game_poker12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,150},{58,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,97}}</string>
                <key>sourceSize</key>
                <string>{58,99}</string>
            </dict>
            <key>game_poker13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{54,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,97}}</string>
                <key>sourceSize</key>
                <string>{54,99}</string>
            </dict>
            <key>game_poker14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>game_poker2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>game_poker3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>game_xiaocaohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,624},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>game_xiaofangpian.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,472},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>game_xiaoheitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,472},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>game_xiaohongtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,624},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>poker_b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,304},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,283},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,314},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,293},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,363},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>poker_b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,344},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>poker_b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,272},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,330},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_ba.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,312},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,300},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,291},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_bq.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,325},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>poker_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,176},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>poker_c10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,595},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,566},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,538},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,538},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,538},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,538},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,558},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,540},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c6_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,500},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c7_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,483},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c8_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,483},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_c9_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,483},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,483},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,492},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,485},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,434},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,428},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,428},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,428},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d6_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,428},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d7_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,430},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d8_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,373},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_d9_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,373},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,373},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,373},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,375},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,318},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,318},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,318},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,318},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,320},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h6_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,263},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h7_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,263},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h8_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,263},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_h9_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,270},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,270},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,262},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,241},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,354},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>poker_r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,335},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>poker_r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,220},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,251},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_ra.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,230},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_rj.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,209},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_rk.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,199},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>poker_rq.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,333},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>poker_rt.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,153},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>poker_s10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,263},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,265},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,208},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,208},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,208},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,208},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,210},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s6_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,153},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s7_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,153},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s8_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,153},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>poker_s9_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,153},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f833e1704807b70b2584b5391efdba5$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
